<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Огляд</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Profile" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Профiль</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Training" asp-action="Index">
                <i class="bi bi-envelope"></i>
                <span>Тренування</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" asp-controller="Indicators" asp-action="Index">
                <i class="bi bi-card-list"></i>
                <span>Показники</span>
            </a>
        </li><!-- End Register Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-login.html">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Статистика</span>
            </a>
        </li><!-- End Login Page Nav -->
    </ul>
</aside>