<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>FitHelper</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by Badrak Mykyta in 2023
    </div>
</footer>