@using Microsoft.AspNetCore.Identity

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0">
            <span class="d-none d-md-block ps-2">@User.Identity.Name</span>
        </a>
    </li>
    <li class="nav-item pe-3">
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Вийти" />
        </form>
    </li>
}
else
{
    <li class="nav-item pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" asp-controller="Account" asp-action="Login">
            <span class="d-none d-md-block ps-2">Вхiд</span>
        </a>
    </li>
}