@model FitHelper.Models.Registration

<main>
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
                <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center w-auto">
                    <img src="assets/img/logo.png" alt="">
                    <span class="d-none d-lg-block">FitHelper</span>
                </a>
            </div>

            <div class="card mb-3">

            <div class="card-body">

                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Створення акаунту</h5>
                    <p class="text-center small">Введіть свої особисті дані, щоб створити обліковий запис</p>
                </div>

                <form method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="col-12">
                        <label class="form-label">Логiн</label>
                        <input asp-for="UserName" type="text" class="form-control" required>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Iм'я</label>
                        <input asp-for="Name" type="text" class="form-control" required>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control" required>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Пiдтвердiть пароль</label>
                        <input asp-for="PasswordConfirm" type="password" class="form-control" required>
                    </div>

                    <p></p>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Створити акаунт</button>
                    </div>
                    <p></p>
                    <div class="col-12">
                    <p class="small mb-0">Вже є аккаунт? <a asp-controller="Account" asp-action="Login"> Увiйти</a></p>
                    </div>
                </form>

            </div>
            </div>

        </div>
        </div>
    </div>

    </section>

</div>
</main>